<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style1.css') }}">
    <title>Draw Mask on Image</title>

    <script>
        let isDrawing = false;
        let action = 'add'; // Default action

        const resultImage = document.getElementById('result-image');
    
        function startDrawing(event) {
            isDrawing = true;
            resultImage.style.pointerEvents = 'none'; // Disable pointer events during drawing
            getMousePosition(event);
            event.preventDefault(); // Prevent default dragging behavior
        }
    
        function stopDrawing() {
            isDrawing = false;
            resultImage.style.pointerEvents = 'auto'; // Re-enable pointer events after drawing
        }
    
        function getMousePosition(event) {
            if (!isDrawing) return;
            var rect = event.target.getBoundingClientRect();
            
            // adjusting for border and padding
            var borderWidth = 90; // Adjust if the border width changes
            var adjustedX = event.clientX - rect.left - borderWidth;
            var adjustedY = event.clientY - rect.top - borderWidth;

            // adjust for any scaling due to max-width or other CSS properties
            var scaleX = event.target.naturalWidth / (rect.width - 2 * borderWidth);
            var scaleY = event.target.naturalHeight / (rect.height - 2 * borderWidth);

            var x = adjustedX * scaleX;
            var y = adjustedY * scaleY;

            sendPoint(x, y, action);
        }

        function setAction(newAction) {
            action = newAction; // 'add' or 'remove'
        }
    
        function sendPoint(x, y, action) {
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/draw_mask", true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.send(JSON.stringify({point: {x: x, y: y}, action: action}));
    
            xhr.onreadystatechange = function() {
                if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                    var response = JSON.parse(xhr.responseText);
                    var imagePath = response.image_path;
                    document.getElementById('result-image').src = imagePath + '?' + new Date().getTime();
                }
            };
        }
    </script>

</head>



<body>

    <div class="header">
        <h1>Draw Mask on Image</h1>
    </div>
    
    <div class="container">
        <!-- image Element -->
        <img id="result-image" src="Images/img.png" 
            alt="Result" 
            onmousedown="startDrawing(event)"
            onmouseup="stopDrawing()"
            onmouseleave="stopDrawing()"
            onmousemove="getMousePosition(event)"
            draggable="false"> <!-- Disable default drag behavior -->


        <!-- Buttons for Mask Operations -->
        <div class="tool-section">
            <button onclick="setAction('add')">Add Mask</button>
            <button onclick="setAction('remove')">Remove Mask</button>
        </div>
    </div>



</body>


</html>